<div class="text-center">

    <mat-toolbar>
        <span class="title-center">Welcome to My Home Page !!</span>
    </mat-toolbar>

    <div class="p-3 mb-2 bg-light text-dark">
        <!-- <h1 class="display-4">Welcome to My Home Page !!</h1> -->
        <div class="text-info image">
        <p class="lead">This is a simple Digital-Book application, to Buy & Sell Books.</p>
        <hr class="my-4">
        
            <p class="text-warning font-bold"> About Us: </p>
            <p class="d-flex justify-content-evenly">Digital-Book platform is a topmost book service provider based on
                Information
                Technology (IT), who ensures to provide
                essential solution for software needs with premium results.
                <!--  We have a team of professionals who are highly unswerving and
            focused on first-class customer service to earn their fullest
            contentment. Our main aim is to bring surefire results through our hard work in order to develop
            enduring
            relationships with our customers. We vanity ourselves for having
            pioneering talent and agility for offering right solution for our valuable customers and in providing
            them
            with a wonderful support network which is more analogous to develop personal relationship apart from
            just
            creating business partnership.</p> -->

            <p class="text-warning font-bold"> Why Us:</p>
            <p>

                Our goal is to help as many people as possible find and enjoy digital books. We wanted to build an
                experience that was simple, easy-to-use and accessible no matter where you are in
                the world.To provide a solution that works across thousands of device and platform combinations; on
                mobile, tablet
                or desktop.
            </p>

            <p class="text-warning font-bold"> Our Services:</p>
            <p class="text-info"> * If you are Admin you can Create & Search Book.</p>
            <p class="text-info"> * If you are Reader you can Read & Search Book.</p>
            <p>If you want to learn more about this application click on below link...</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>