<!-- <mat-toolbar>
    <span>Welcome to My Home Page !!</span>
</mat-toolbar> -->

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to My Home Page !!</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div> -->
  <mat-toolbar>
    <span>Welcome to My Home Page !!</span>
</mat-toolbar>
<div class="p-3 mb-2 bg-light text-dark">
    <!-- <h1 class="display-4">Welcome to My Home Page !!</h1> -->
    
    <p class="lead">This is a simple Digital-Book application, to create & Search Book.</p>
    <hr class="my-4">
    <p class="text-warning"> About Us: </p>
    <div class="text-info">
        <p>If you are Admin you can Create & Search Book.</p>
        <p>If you are Reader you can Read & Search Book.</p>
        <p>If you want to learn more about this application click on below link...</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>