.image{
    // height:40em;
   // height: fit-content;
   height: 100%;
    background-size:cover;
    width:auto;
    //background-image:url('https://www.scnsoft.com/boss/images/a6290a1b-910d-4200-a010-d884becfbc03desktop-e-book-library-for-a-digital-download-marketplace-owner_large.jpg');
    //background-position:50% 50%;
    background-position:100% 100%;
  }
  .title-center {
    margin: 0 auto;
  }

  .font-bold {
    font-weight: bold
    }

    .navbar-right {
      float: right;
    }
  