.title-center {
    margin: 0 auto;
  }
  .image{
    height:40em; background-size:cover; width:auto;
    background-color: rgb(31, 83, 83);
   // background-image:url('https://www.scnsoft.com/boss/images/a6290a1b-910d-4200-a010-d884becfbc03desktop-e-book-library-for-a-digital-download-marketplace-owner_large.jpg');
    background-position:100% 100%;
  }

  .blur {
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 50%;
  }