.title-center {
  margin: 0 auto;
}

.font-bold {
  font-weight: bold
  }

  .blur {
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 50%;
  }